# Hand-maintained (roxygen comments in R/ document the same surface).

useDynLib(doltliter, .registration = TRUE, .fixes = "")

import(methods)
importFrom(DBI, Id)
importFrom(DBI, SQL)
importFrom(DBI, dbCanConnect)
importFrom(DBI, dbIsReadOnly)
importFrom(DBI, dbListObjects)
importFrom(DBI, dbQuoteLiteral)
importFrom(DBI, dbUnquoteIdentifier)
importFrom(DBI, dbWithTransaction)
importClassesFrom(DBI, SQL)
importFrom(DBI, dbAppendTable)
importFrom(DBI, dbBegin)
importFrom(DBI, dbBind)
importFrom(DBI, dbClearResult)
importFrom(DBI, dbColumnInfo)
importFrom(DBI, dbCommit)
importFrom(DBI, dbConnect)
importFrom(DBI, dbCreateTable)
importFrom(DBI, dbDataType)
importFrom(DBI, dbDisconnect)
importFrom(DBI, dbExecute)
importFrom(DBI, dbExistsTable)
importFrom(DBI, dbFetch)
importFrom(DBI, dbGetInfo)
importFrom(DBI, dbGetQuery)
importFrom(DBI, dbGetRowCount)
importFrom(DBI, dbGetRowsAffected)
importFrom(DBI, dbGetStatement)
importFrom(DBI, dbHasCompleted)
importFrom(DBI, dbIsValid)
importFrom(DBI, dbListFields)
importFrom(DBI, dbListTables)
importFrom(DBI, dbQuoteIdentifier)
importFrom(DBI, dbQuoteString)
importFrom(DBI, dbReadTable)
importFrom(DBI, dbRemoveTable)
importFrom(DBI, dbRollback)
importFrom(DBI, dbSendQuery)
importFrom(DBI, dbSendStatement)
importFrom(DBI, dbUnloadDriver)
importFrom(DBI, dbWriteTable)
importFrom(DBI, sqlColumnToRownames)
importFrom(DBI, sqlRownamesToColumn)
importFrom(bit64, as.integer64)
importFrom(utils, packageVersion)

exportClasses(DoltliteDriver)
exportClasses(DoltliteConnection)
exportClasses(DoltliteResult)

export(Doltlite)

# DBI asks a compliant backend to re-export these, so that users need only
# attach the backend package.
export(Id)
export(SQL)
export(dbCanConnect)
export(dbIsReadOnly)
export(dbListObjects)
export(dbQuoteLiteral)
export(dbUnquoteIdentifier)
export(dbWithTransaction)
export(DOLTLITE_RO)
export(DOLTLITE_RW)
export(DOLTLITE_RWC)

export(doltlite_engine)
export(doltlite_version)

# DBI methods
exportMethods(dbAppendTable)
exportMethods(dbBegin)
exportMethods(dbBind)
exportMethods(dbClearResult)
exportMethods(dbColumnInfo)
exportMethods(dbCommit)
exportMethods(dbConnect)
exportMethods(dbCreateTable)
exportMethods(dbDataType)
exportMethods(dbDisconnect)
exportMethods(dbExecute)
exportMethods(dbExistsTable)
exportMethods(dbFetch)
exportMethods(dbGetInfo)
exportMethods(dbGetQuery)
exportMethods(dbGetRowCount)
exportMethods(dbGetRowsAffected)
exportMethods(dbGetStatement)
exportMethods(dbHasCompleted)
exportMethods(dbIsValid)
exportMethods(dbListFields)
exportMethods(dbListTables)
exportMethods(dbQuoteIdentifier)
exportMethods(dbQuoteString)
exportMethods(dbReadTable)
exportMethods(dbRemoveTable)
exportMethods(dbRollback)
exportMethods(dbSendQuery)
exportMethods(dbSendStatement)
exportMethods(dbUnloadDriver)
exportMethods(dbWriteTable)
exportMethods(show)

# Version-control verbs
export(active_branch)
export(dolt_active_branch)
export(dolt_add)
export(dolt_at)
export(dolt_blame)
export(dolt_branch)
export(dolt_branches)
export(dolt_checkout)
export(dolt_cherry_pick)
export(dolt_clone)
export(dolt_commit)
export(dolt_config)
export(dolt_conflicts)
export(dolt_conflicts_resolve)
export(dolt_conflicts_table)
export(dolt_constraint_violations)
export(dolt_creds)
export(dolt_creds_new)
export(dolt_diff)
export(dolt_diff_stat)
export(dolt_diff_summary)
export(dolt_fetch)
export(dolt_gc)
export(dolt_hashof)
export(dolt_hashof_db)
export(dolt_hashof_table)
export(dolt_history)
export(dolt_log)
export(dolt_merge)
export(dolt_merge_base)
export(dolt_merge_status)
export(dolt_patch)
export(dolt_pull)
export(dolt_push)
export(dolt_rebase)
export(dolt_remote)
export(dolt_remotes)
export(dolt_reset)
export(dolt_revert)
export(dolt_scalar)
export(dolt_schema_diff)
export(dolt_schemas)
export(dolt_status)
export(dolt_table)
export(dolt_table_diff)
export(dolt_tag)
export(dolt_tags)
export(dolt_verify_constraints)
export(dolt_version)
export(dolt_workspace)
